In [1]:
a=10

In [4]:
a= 'c'

In [5]:
a

'c'

In [7]:
type(a)

str

In [9]:
int(0)

0

In [11]:
int(123)

123

In [14]:
print('hello world')

hello world

In [17]:
age=24
print('my is age:',age)

my is age: 24

In [20]:
## f string
print(f'my age is:{age}')

my age is:24

In [26]:
### format()
name = 'Enam'
age=24
print('my name is {} and age is {}'.format(name,age))

my name is Enam and age is 24

In [27]:
print('my name is {} and age is {}'.format(name,age))

my name is Enam and age is 24

In [29]:
##placeorder
print('my name is {firstname} and age is {firstage}'.format(firstname=name,firstage=age))

my name is Enam and age is 24

In [34]:
## format
name='Enam'
age=24
degree='B.sc Botany'
print('my name is {} and age is {} and i have competed my degree with the name of {}'.format(name,age,degree))

my name is Enam and age is 24 and i have competed my degree with the name of B.sc Botany

In [40]:
age=24
print('my age is:',age)

my age is: 24

## Control Flow
### Decission Making Statemens

In [1]:
print(0)

0

In [2]:
## If Statement
age=17
if age<18:
    print('you are not eligible to vote')

you are not eligible to vote

In [3]:
18<=18

True

In [3]:
age=int(input('enater your age'))

enater your age 24

In [4]:
age

24

In [5]:
type(age)

int

In [2]:
## If statement 
age=18
if age>=18:
    print('You are yong blood')

You are yong blood

In [8]:
age=int(input("Enter the age"))
if age>=18 and age <=45:
    print('You are Young blood')

Enter the age 46

In [9]:
22<=22

True

## Cntrol Flow

## Decission Making Statement

In [4]:
age=int(input("Enter the age"))
if age>=20 and age <=45:
    print('You are elegible for this job')

Enter the age 17

In [5]:
22>=20 and 22<=45

True

In [6]:
22>22

False

In [9]:
22>45

False

## If else Statement

In [15]:
age=int(input("Enter the age"))
if age>=20 and age <=45:
    print("You are elegible for this job")
else:
        print("Thank you for concern we will let you know")

Enter the age 32

You are elegible for this job

In [16]:
age=int(input("Enter the age"))
if age>=20 and age <=45:
    print("You are elegible for this job")
else:
        print("Thank you for concern we will let you know")

Enter the age 56

Thank you for concern we will let you know

In [ ]:
## mall - input the product price
## product >1000 rs 20% off
## print the product price after removing the discount
## product <=1000 rs 30% off
## print the product price after removing the discount

In [30]:
product_price=int(input("Enter the price"))
if product_price>1000:
    print(f"The price of the product is {product_price*0.8}")
else:
    print(f"The price of product is {product_price*0.7}")

Enter the price 10

The price of product is 7.0

In [34]:
int((20/1000)*10)

0

In [31]:
product_price=int(input("Enter the price"))
if product_price>1000:
    print(f"The price of the product is {product_price*0.8}")
else:
    print(f"The price of product is {product_price*0.7}")

Enter the price 100

The price of product is 70.0

In [33]:
int((20/1000)*1000)

20

In [32]:
product_price=int(input("Enter the price"))
if product_price>1000:
    print(f"The price of the product is {product_price*0.8}")
else:
    print(f"The price of product is {product_price*0.7}")

Enter the price 5000

The price of the product is 4000.0

In [ ]:
## mall - input the product price
## product >3000 rs 20% off
## price is ==4000 you get a trip to Goa
## print the product price after removing the discount
## product >=2000 rs and <=3000 30% off
## print the product price after removing the discount
## price ==2999  u will get adiitional gift
## product 100 rs and <=2000 40% off
## print the product price after removing the discount

In [ ]:
product_price=int(input("Enter the price"))
if product_price>3000:
    print(f"The price of product is {product_price*0.8}")
elif product_price>=2000 and product_price<=3000:
    print(f"The price of product is {product_price*0.7}")
elif product_price>=100 and product_price<=2000:
          print(f"The price of product is {product_price*0.6}")
else:
    print('Lets drink a tea')

In [ ]:
## Single statement Suites
val=int(input('Enter the number'))
if(val<=999):print("Value is less than equal to 999")
else:
     print("Go Home")

## Loop statement
 ###   1.while loop
  ### 2.for loop
  ### 3.nested loop
  ### 4.Loop Control

In [2]:
## while Loop
joining_age=20
while joining_age<=60:
    print(joining_age)
    joining_age=joining_age+1
else:
    print("Its time for retirement ")

20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
Its time for retirement

In [1]:
### Atm machine with 1000 rs
total_amount=1000
while total_amount!=0:
    print(total_amount)
    total_amount=total_amount-100
else:
    print("Put more money bank people")
    
print("Hello All")

1000
900
800
700
600
500
400
300
200
100
Put more money bank people
Hello All

In [3]:
lst=["Enam",1,2,3,4,5,"apple","banana"]

In [5]:
type(lst)

list

In [7]:
lst[5]

5

In [8]:
lst[0]

'Enam'

In [10]:
lst[7]

'banana'

In [12]:
["Enam",1,2,3,4,5,"apple","banana"]

['Enam', 1, 2, 3, 4, 5, 'apple', 'banana']

In [17]:
for x in lst:
    print(x)

Enam
1
2
3
4
5
apple
banana

In [21]:
print(x)

banana

In [28]:
fruits_list=["apple","mango","orange","papaya"]

In [39]:
for y in fruits_list:
    print(y)
    if y=="papaya":
        print("The fruit papaya is very healthy and eat as a vegetables also in our india ")

apple
mango
orange
papaya
The fruit papaya is very healthy and eat as a vegetables also in our india

In [41]:
for y in fruits_list:
    print(y)
    if y=="apple":
        print("The fruit apple is very healthy and one of common high costly food in urban areas of india")
        break

apple
The fruit apple is very healthy and one of common high costly food in urban areas of india

In [42]:
for y in fruits_list:
    print(y)
    if y=="apple":
        print("The fruit apple is very healthy and one of common high costly food in urban areas of india")
        continue

apple
The fruit apple is very healthy and one of common high costly food in urban areas of india
mango
orange
papaya

In [43]:
for y in fruits_list:
    print(y)
    if y=="apple":
        print("The fruit apple is very healthy and one of common high costly food in urban areas of india")
        pass

apple
The fruit apple is very healthy and one of common high costly food in urban areas of india
mango
orange
papaya

In [45]:
for y in fruits_list:
    print(y)
    if y=="orange":
        print("The fruit orange is very healthy and one of common high costly food in urban areas of india")
        pass

apple
mango
orange
The fruit orange is very healthy and one of common high costly food in urban areas of india
papaya

In [46]:
fruit="mango"
for x in fruit:
    print(x)

m
a
n
g
o

In [49]:
fruit[4]

'o'

## Nested Loop

In [ ]:
## nested loop
n=7

In [53]:
## range
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [56]:
## range
for i in range(2,100,2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [61]:
## range
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******